<!DOCTYPE html>
<html lang="en"></html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Meeting Impossible</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!-- jQuery -->
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abel|Comfortaa|Montserrat|Roboto|Roboto+Mono" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lekton|Orbitron|Rajdhani|Source+Code+Pro" rel="stylesheet">

      <!-- font awesome  -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

      <!-- Custom styles for this template -->
      <link href="../static/styles/style.css" rel="stylesheet">
      <style>
      .goog-te-gadget {
        font-family: 'Rajdhani', sans-serif;
        font-size: 19px !important;
      }  
      </style>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" id="myNavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            <a class="navbar-brand" href="#">Meeting Impossible</a>
            </div>
            <div class="collapse navbar-collapse" id="collapseBar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/headquarters">Find Acquaintance</a></li>
                <li><a href="/voice-text-voice">Voice Recognition</a></li>
                <!-- <li><a href="/">Sign Up</a></li> -->
                <li><a href="/hatespeech">Hate Speech Recognition</a></li>
                <li><a href="/">Sign Up</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <section class="register">
        <div class="register-full">
          <div class="register-left">
            <div class="register-in">
              <h1  id="headline" class="notranslate">Voice to Text</h1>
              <!-- language selection (speech to text)-->
              <div class="notranslate">  
                  <h4>Please select a language to speak:</h4>
                  <div id="div_language">
                    <select style="font-family: 'Rajdhani', sans-serif; background-color: white;" id="select_language" onchange="updateCountry()"></select>
                    <select style="font-family: 'Rajdhani', sans-serif; background-color: white;" id="select_dialect"></select>
                  </div>
                </div>
              <!-- microphone settings information -->
              <div id="info" class="notranslate">
                <p id="info_start">Click on the microphone and begin speaking. Click on it again to stop.</p>
                <p id="info_speak_now">Speak now.</p>
                <p id="info_no_speech">No speech was detected. You may need to adjust your
                  <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone settings</a>.
                </p>
                <p id="info_no_microphone" style="display:none">
                  No microphone was found. Ensure that a microphone is installed and that<a href='//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892'>
                  microphone settings</a> are configured correctly.</p>
                <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
                <p id="info_denied">Permission to use microphone was denied.</p>
                <p id="info_blocked">Permission to use microphone is blocked. To change,
                  go to chrome://settings/content settings/microphone</p>
                <p id="info_upgrade">Web Speech API is not supported by this browser.
                  Upgrade to <a href="//www.google.com/chrome">Chrome</a>
                  version 25 or later.</p>
              </div>
              <!-- recording button -->
              <div class="right">
                <button id="start_button" onclick="startButton(event)">
                    <i class="fas fa-microphone-alt" id="start_img"></i></button>
              </div>
              <!-- speech detection result -->
              <div id="results">
                  <span id="final_span" class="final"></span>
                  <span id="interim_span" class="interim"></span>
              </div>
            </div>
          </div>
          <div class="register-right">
              <div class="register-in">
                <div id="translator">
                  <h1>Text to Voice</h1>
                  <!-- language selection (text to speech) -->
                  <h4> Please select a voice and desired language:</h4>
                  <div class="center">
                    <select style="color:black;" id="voiceselection"></select>
                  </div>
                  <!-- google translate language selection -->
                  <div class="center" id="google_translate_element"></div>
                  <!-- text input -->
                  <textarea id="text" style="width:100%"></textarea> 
                      
                  <!-- play, pause, resume, stop buttons -->
                  <div class="center">
                    <button  style="background-color: white; color:black;" onclick= "responsiveVoice.speak($('#text').val(),$('#voiceselection').val());" type="button" value="Play">Listen</button>
                    <button  style="background-color: white; color:black;" onclick= "responsiveVoice.pause();" type="button" value="Pause">Pause</button>
                    <button  style="background-color: white; color:black;" onclick= "responsiveVoice.resume();" type="button" value="Resume">Resume</button>
                    <button  style="background-color: white; color:black;" onclick="responsiveVoice.cancel();" type="button" value="Stop">Stop</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->
        <div class="footer">
          <p>copyright © Meeting Impossible 2018</p>
        </div>
    
    <!-- google translate API -->
    <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- responsive voice api (text to speech) -->
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- local javascript -->
    <script src="../static/index.js"></script>
  </body>
</html>